__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.zip
*.ico
*.jpg
*.exe
*.cfg
build/
dist/
zero_rcon_tool-v*/
zero_rcon_tool-v*.zip
.venv/
venv/
env/
.idea/
.vscode/
zero_convars_config.json
package.ps1
cs2_rcon_tool.spec